.error-404-numbers {
    font-size: 320px;
    font-weight: 800;
    font-family: 'inter';
    text-align: center;
    margin-top: 46px;
}
.theme-light .error-404-numbers,
.theme-light .error-404-h3 {
    color: var(--main-background-color);
}
.theme-dark .error-404-numbers,
.theme-dark .error-404-h3 {
    color: white;
}
.error-404-h3 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.error-404-p {
    margin-left: var(--margin-side-left);
    margin-right:  var(--margin-side-left);
    margin-top: 58px;
    margin-bottom: 58px;

    font-size: 24px;
    color: var(--text-body-color);
}
@media screen and ( max-width: 785px ) {
    .error-404-numbers {
        font-size: 120px;
    }
    .error-404-h3 {
        font-size: 30px;
    }
    .error-404-p {
        font-size: 17px;
        margin-top: 27px;
    }
}