@media screen and ( max-width: 874px ) {
    .sub-nav {
    display: none;
    }
    .nav-main {
        flex-direction: column;
    }
    .sub-nav-mobile {
        display: flex;
        flex-direction: column;
        background-color: var(--main-background-color);
        color: var(--main-text-color);
        height: fit-content;
    }
    .sub-nav-mobile .nav-link {
        margin: 15px;
        margin-left: 29px;
    }
    .theme-toggler {
        display: none;
    }

    :root {
        --margin-side-left: 23px;
    }

    .teachers-block {
        margin-top: 90px;
    
        --width: 99vw !important;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(99vw, auto)) !important;
    }
}
@media screen and ( min-width: 875px ) {
    .hambureger-menu-cross {
    display: none;
    }
    .sub-nav-mobile {
        display: none;
    }
}
.hambureger-menu-cross {
    height: 29px;
    width: 39px;
    
    margin: auto;
    margin-right: 32px;
}
.nav-main-top {
    display: flex;
}

.logo-and-name {
    display: flex;
}
.theme-toggler-mobile-icon {
    /*height: 27px;
    width: 25px;*/
    height: 35%;
    width: auto;

    margin-left: auto;
    margin-right: 17px;
    display: flex;
}
.theme-toggler-mobile {
    display: flex;
}
