.theme-light {
    --body-background-color: #FCEAFF;
    --main-background-color: #4E11B0;
    --secondary-background-color: #7D6697;
    /*--assent-color: #00C9A7;
    --assent-disabled-color: #84E7D6;*/

    --main-text-color: white;
    --secondary-text-color: white;

    --th-background-color: #828282;
    --th-color: black;

    --td-background-color: white;
    --td-color: black;

    --remove-btn-background-color: #9E0000;
    --remove-btn-color: white;

}
.theme-dark {
    --body-background-color: #3A5B74;
    --main-background-color: #1C1626;
    --secondary-background-color: #484053;
    /*--assent-color: #00C9A7;
    --assent-disabled-color: #84E7D6;*/

    --main-text-color: white;
    --secondary-text-color: white;

    --th-background-color: #828282;
    --th-color: black;

    --td-background-color: white;
    --td-color: black;

    --remove-btn-background-color: #9B4F5E;
    --remove-btn-color: black;

}
body {
    min-width: 1170px;
}
.nav-main-top {
    display: flex;
}

.logo-and-name {
    display: flex;
}
.theme-dark .admin-dashboard-main {
    color: var(--main-text-color);
}
.students-list-h2 {
    font-size: 36px;
    font-weight: 500px;
}
.admin-dashboard-main,
.student-removed-main {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: var(--margin-side-left);
    margin-right: var(--margin-side-left);
}
.nav-main-top {
    display: flex;
}
.theme-toggler {
    width: 56px;
    height: 61px;
    margin: auto;
    margin-right: 18px;
    display: flex;
}
table.students-table{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;

    margin-top: 91px;
    margin-bottom: 91px;
}
table.students-table,table.students-table td, table.students-table th {
	border: 1px solid var(--td-color);
    color: var(--td-color);
    background-color: var(--td-background-color);
    .theme-dark & {
        border-color: white;
    }
}
table.students-table td,table.students-table th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
.theme-dark table.students-table td {
    background-color: black;
    color: white;
}
table.students-table th {
	background: var(--th-background-color); 
	color: var(--th-color); 
	font-weight: bold;
}

.empty-table-message {
    font-size: 30px;
    margin-top: 46px;
}

.remove-student-td {
    background-color: var(--remove-btn-background-color) !important;
    color: var(--remove-btn-color) !important;
}
.successfully-h2 {
    font-size: 36px;
    font-weight: 500;
}