:root {
    --margin-side-left: 116px;
}
.theme-light {
    --body-background-color: #FBEAFF;
    --main-background-color: #845EC2;
    --secondary-background-color: #B39CD0;
    --assent-color: #00C9A7;
    --assent-disabled-color: #84E7D6;

    --main-text-color: white;
    --text-body-color: black;

    --secondary-text-color: black;
    --disabled-text-color: #4F4E4E;
    --disabled-btn-background-color: aquamarine;
    --disabled-btn-color: grey;

    --dogovor-link-color: blue;
}
.theme-dark {
    --body-background-color: #302443;
    --main-background-color: #451F17;
    --secondary-background-color: #784C42;
    --assent-color: #7B7484;
    --assent-disabled-color: #84E7D6;

    --main-text-color: white;
    --text-body-color: white;
    --secondary-text-color: black;
    --disabled-text-color: #9b9191;

    --disabled-btn-background-color: grey;
    --disabled-btn-color: black;

    --dogovor-link-color: #ff9f9f;
}

body {
    background-color: var(--body-background-color);
}
.nav-main {
    background-color: var(--main-background-color);
    color: var(--main-text-color);

    height: 113px;

    display: flex;
}
.nav-main-top {
    width: 100vw;
}
.logo-and-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}
.company-name {
    font-size: 30px;
    font-weight: 500;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}
.sub-nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
}
.nav-link {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 32px;

    text-transform: uppercase;
}

.theme-toggler {
    width: 56px;
    height: 61px;
    
    margin: auto;
    margin-right: 18px;

    
    display: flex;
}

.about,
.footer {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);

    height: fit-content/*142px*/;

    display: flex;
}

.p-about,
.footer-p {
    --margin-top-bottom: 54px;
    --margin-side: var(--margin-side-left);
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
    margin-top: var(--margin-top-bottom);
    margin-bottom: var(--margin-top-bottom);
}
.invisible {
    display: none !important;
}
.theme-dark option {
    background-color: black;
}
.footer.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }